################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/PokemonWebApplication/obj
/.vs
/PokemonWebApplication/.vs/PokemonWebApplication/FileContentIndex
